h2 {
  display: inline;
}
h1 {
  display: inline;
}
body {
  background-color: rgb(236, 117, 117);
}
textarea {
  border-radius: 5px;
  resize: none;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#title {
  display: flex;
  justify-content: center;
}

#calanderContainer {
  display: flex;
  justify-content: center;
}
